<section>
  <div class="show-post post-margin">
    <div class="post-flex">
      <h3>Post #<%= @post.id%> by <%= @post.author.name %></h3>
      <div class="comment">
        <span>Comments: <%= @post.comments_counter || 0%>, </span>
        <span>Likes: <%= @post.likes_counter || 0 %> </span>
      </div>
    </div>
    <p> <%= @post.text %> </p>
  </div>
  <ul class="comments-likes-ul">
    <% @comments.each do |comment| %>
      <li><%= comment.author.name%>: <%= comment.text %></li>
    <% end %>
  </ul>
</section>