<section>
  <div class="show-post post-margin">
    <div class="post-flex">
      <h3><%= @post.title %> #<%= @post.id%> by <%= @post.author.name %></h3>
      <div class="comment">
        <span>Comments: <%= @post.comments_counter || 0%>, </span>
        <span>Likes: <%= @post.likes_counter || 0 %> </span>
      </div>
    </div>
    <p> <%= @post.text %> </p>
     <%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes" do |form| %>
      <%= form.submit "Like", class: "like-btn border" %>
    <%end%>
  </div>

  <div class="comments border">
    <% if @post.recent_comments.empty? %>
        <p>No comment for this post</p>
    <% else %>
      <% @post.recent_comments.each do |comment| %>
        <p><%= comment.author.name %>  :<%= comment.text %></p>
      <% end %>
    <% end %>
  </div>
  <div class="border comment_link">
    <%= link_to "Add a comment", new_user_post_comment_path(post_id: @post.id) %>
  </div>
</section>